/* Configuración de tailwindcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainheader {
  margin: 0;
  /* height: 100vh; */
  background: #e3ebea;
}

.container {
  /* width: 60%;
  margin: 8em auto; */
  text-align: center;
}

.logoheader {
  clip-path: url(#logoheadermask);
  /* width: 60%; */
  /* object-fit: cover; */
}

.logoheader-container {
  position: absolute;
  margin: auto;
}

.hideme {
  height: 0px;
}

/* Configuración cards invertidas */

/* Container cards invertidas*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* Container para colocar el anverso y el reverso */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Posicion anverso, reverso */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Stilo de la  card anversa */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Stilo parte trasera de la card */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Stilo de la imagen*/
.image {
  width: 300px;
  height: 500px;
}

/* Configuración button cards */
