/* Configuración de tailwindcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

.headerbg {
  background: url("https://res.cloudinary.com/blacklionbox/image/upload/v1649261385/fondoheader2_sybjbj.jpg")
    center center/cover no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.mainheader {
  height: 60vh;
  background: #e3ebea;
}

.logoheader {
  clip-path: url(#logoheadermask);
  width: 50%;
  display: inline-flex;
}

.hideme {
  height: 0px;
}

/* Configuración cards invertidas */

/* Container cards invertidas*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* Container para colocar el anverso y el reverso */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Posicion anverso, reverso */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Stilo de la  card anversa */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Stilo parte trasera de la card */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Stilo de la imagen*/
.image {
  width: 300px;
  height: 500px;
}
