/* Configuración de tailwindcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

.mainheader {
  margin: 0;
  /* height: 100vh; */
  background: #e3ebea;
}

.container {
  /* width: 60%;
  margin: 8em auto; */
  text-align: center;
}

.logoheader {
  clip-path: url(#logoheadermask);
  /* width: 60%; */
  /* object-fit: cover; */
}

.logoheader-container {
  position: absolute;
  margin: auto;
}

.hideme {
  height: 0px;
}
